!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Lunch-Time"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Bree+Serif", :media => "all"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    %header
      %a{:href => root_path}
        %h1.logo
          Lunch Time
        %h2
          A place where hackers find food
    = render 'layouts/messages'
    .container
      .row.top
      .row.main
    %footer
    = yield :javascript_body
    :javascript
      App.addInitializer(function(){
        App.restaurants.reset(#{@restaurants.to_json});
      })
      App.start()
